@page
@model WebRazor.Pages.Shared._MenuPartialModel
@{

}



@*<div>
        <ul class="pagination">
            <li class="page-item @(!Model.ShowFirst? "disabled":"")">
                <a asp-page="/Restaurant" asp-route-CurrentPage="1" class="page-link"><i class="glyphicon glyphicon-fast-backward"></i></a>
            </li>

            <li class="page-item @(!Model.ShowPrevious? "disabled":"")">
                <a asp-page="/Restaurant" asp-route-CurrentPage="@(Model.CurrentPage -1)" class="page-link"><i class="glyphicon glyphicon-step-backward"></i></a>
            </li>
            <li class="page-item  @(!Model.ShowNext? "disabled":"")">
                <a asp-page="/Restaurant" asp-route-CurrentPage="@(Model.CurrentPage + 1)" class="page-link"><i class="glyphicon glyphicon-step-forward"></i></a>
            </li>

            <li class="page-item  @(!Model.ShowLast? "disabled":"")">
                <a asp-page="/Restaurant" asp-route-CurrentPage="@Model.TotalPages" class="page-link"><i class="glyphicon glyphicon-fast-forward"></i></a>
            </li>
        </ul>
    </div>*@


