@model OrderMyFood.Web.WebMvc.Models.Restaurant

<tr>
    <td>@Model.RestaurantId</td>
    <td>@Model.Name</td>
    <td>@Model.Location</td>
    <td>@Model.Distance</td>
    <td>@Model.Cuisine</td>
    <td>@Model.Budget</td>
    <td>@Model.Ratings</td>
</tr>
